.nav-pills > li > a,
.btn,
.btn-flat {
    border-radius: 4px;
}

.double-button .btn-flat:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.double-button .btn-flat:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.select-kit .select-kit-header {
    border-radius: 4px;
}

.select-kit.combo-box .select-kit-body {
    border-radius: 4px;
}

.d-header {
    box-shadow: none;
    border-bottom: 2px solid #e8eaee;
}

.menu-panel.drop-down {
    border-radius: 4px;
}

.drop-down-mode .d-header-icons .icon {
    border-radius: 4px;
}

.drop-down-mode .d-header-icons .active .icon {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.badge-category-bg {
    border-radius: 100px;
}

.discourse-tag.box {
    background-color: #f3f5fa !important;
    border-radius: 4px;
    border-bottom: 2px solid #e9ebef;
    margin: 2px 0;
}

.extra-info-wrapper .topic-header-extra .discourse-tags .discourse-tag {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding: 2px 0 0;
    background: transparent !important;
    border: none;
    color: #aaaa77;
}

.category-list .topics .value {
    display: none;
}

.topic-last-activity .relative-date {
    display: none;
}

.category-list .topics {
    display: none;
}

.posts-map.badge-posts .number {
    display: none;
}

.topic-list.ember-view .posts,
.topic-list.ember-view .views,
.topic-list.ember-view .activity {
    display: none;
}

.topic-map {
    display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

body.category-blog .cooked {
    font-family: Merriweather, Georgia, Serif;
}

body.category-blog .title-wrapper h1 {
    font-family: Merriweather, Georgia, Serif;
}

body.category-blog .cooked p {
    font-size: 0.9em;
    line-height: 1.6;
}

body.category-blog .lightbox-wrapper {
    display: flex;
    justify-content: center;
}

body.category-blog .lightbox-wrapper img {
    border-radius: 4px;
}

body.category-blog .lightbox-wrapper + br + em {
    text-align: center;
    font-size: 0.7em;
    display: block;
    margin-top: -1em;
    margin-bottom: 2em;
}

.logo-small {
    border-radius: 4px;
}

.extra-info-wrapper .two-rows {
    padding: 0 1.5em 0 0.5em;

    h1 {
        font-size: 1em;
    }
}

//
// Landing Widget
//
.lw-wrapper {
    height: calc(100vh - 4em - 2px);
    padding-top: 4.8em;
    box-sizing: border-box;

    .wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .lw-header {
        width: 100%;
        font-size: 4.4em;
        font-weight: 700;
        color: #130A54;
        line-height: 1.1;
        width: 70%;
        padding-right: 2em;
        box-sizing: border-box;

        @include breakpoint(medium) {
            padding-right: 1em;
            width: 100%;
        }
    }

    .lw-description {
        width: 70%;

        @include breakpoint(medium) {
            width: 100%;
        }

        p {
            &.strong {
                font-weight: 700;
            }
        }
    }

    .lw-button-list {
        display: flex;
        margin-top: 1em;
        flex-wrap: wrap;

        a {
            margin-right: 0.6em;
            margin-bottom: 0.6em;
        }
    }

    .lw-bullet-list {
        display: flex;
        flex-wrap: wrap;
        padding: 3em 2em 1em 3em;
        background: #130A54;
        border-radius: 6px;
        margin-top: 3em;
        margin-bottom: 6em;

        .lw-bullet-item {
            width: 50%;
            color: #fff;
            margin-bottom: 2em;

            @include breakpoint(medium) {
                width: 100%;
            }

            img {
                height: 2.4em;
                margin-bottom: 1em;
            }

            h4 {

            }

            p {
                padding-right: 3em;
                font-size: 0.9em;

                &.lw-bullet-description {
                    opacity: .8;
                }
            }
            
        }
    }
}


// 
// Disable Latest item, so homepage link works (temp hack)
// 
.navigation-container {
    #navigation-bar {
        li:first-child {
            display: none;
        }
    }
}